body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {

}

.img-container {

}

.form-container {

}

form {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10vh;
    font-size: 1.5rem;
}