@font-face{
    font-family: "shogun";
    src: url(shogun.ttf)
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: "shogun";
    font-size: 4.1rem;
    background-color: black;
    color: darkred;
    padding: 0px 15px 10px 15px;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0px 5px 20px ;
}

img {
    width: 25vw;
    border-radius: 20px;
    margin-right: 20vh;
    border: 3px solid black;
}
.container-container {
    display: flex;
    
}





form {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10vh;
    font-size: 1.5rem;
}

.warning-box{
    display: none;
    margin-top: 5vh;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 1.8rem;
    padding: 5px;
    margin-right: 5vh;
    width: 25vw;
    box-shadow: 0px 5px 20px ;
    margin-bottom: 10px;
    
}

.footer{
    background-color: black;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    box-shadow: 0px -1px 10px;
}

