@font-face{
    font-family: "shogun";
    src: url(shogun.ttf)
}

@font-face{
    font-family: "marker";
    src: url(marker.ttf);
}



html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(22, 23, 23);
    padding: 15px;
}

h1 {
    font-family: "shogun";
    font-size: 4.1rem;
    background-color: black;
    color: darkred;
    padding: 0px 15px 10px 15px;
    margin-top: 2vh;
    box-shadow: 5px 5px 3px black;
}


img {
    width: 32vw;
    height: 20vw;
    border-radius: 20px;
    margin-right: 20vh;
    margin-top: 10vh;
    border: 3px solid black;
    box-shadow: 3px 3px 3px black;

}

img:hover {
    box-shadow: 3px 3px 3px darkred;
}


.container-container {
    display: flex;
    align-items: center;
    
}





form {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10vh;
    font-size: 1.5rem;
}

label {
    font-size: 40px;
    font-family: 'marker';
}



input {
    font-size: 1.5rem;
    transition: font-size .5s
}

input:hover {
    font-size: 1.55rem;
}

.warning-box{
    display: none;
    margin-top: 5vh;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 5vh;
    width: 25vw;
    box-shadow: 0px 5px 20px ;
    margin-bottom: 10px;
    
}

.footer{
    display:flex;
    justify-content: space-between;
    font-family: 'shogun';
    background-color: black;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}


.email {
    color: white;
}

.at {
    font-family:'Courier New', Courier, monospace;
}

